
doctype html
html
    head
        title = title
        link(rel='stylesheet', href='/stylesheets/style.css')
        block style 
    body 
        header ν—¤λ”
        block content
        footer ν‘Έν„°
        block script